name: APK Builder
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies and Android Licenses
        run: |
          sudo apt-get update
          sudo apt-get install -y aidl python3-pip
          # Android lisanslarını otomatik kabul etme komutu
          yes | sdkmanager --licenses || true

      - name: Build with Buildozer
        uses: kivy/buildozer-action@master
        with:
          command: android debug
          repository_root: .

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
