name: APK Builder
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Aidl and SDK tools
        # Hata aldığın "Aidl not found" sorununu bu satır çözer
        run: sudo apt-get install -y aidl

      - name: Build with Buildozer
        uses: kivy/buildozer-action@master
        with:
          command: android debug
          repository_root: .

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
