name: APK Builder
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build APK with Buildozer
        # En stabil ve resmi olmayan kısıtlamalara takılmayan versiyon
        uses: ArtemSerebrennkov/buildozer-action@v1
        with:
          command: android debug
          repository_root: .

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
