name: APK Builder
on: [push]
 
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build with Buildozer
        # Kivy'nin kendi resmi aracıdır, en güvenlisidir
        uses: kivy/buildozer-action@master
        with:
          command: android debug
          repository_root: .

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
